<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	   default-lazy-init="true">

	<description>Spring Configuration</description>

	<import resource="spring-disconf.xml" />
	<import resource="rabbitmq-base.xml" />
	<import resource="rabbitmq-callback.xml"/>
	<import resource="rabbitmq-takeout.xml"/>
	<import resource="rabbitmq-delay.xml"/>
	<import resource="rabbitmq-notice.xml"/>
	<import resource="rabbitmq-biz.xml"/>
	<import resource="spring-dubbo-consumer.xml"/>
	<import resource="spring-dubbo-provider.xml"/>
	<import resource="spring-jobCenter.xml"/>
	<import resource="spring-redis.xml" />

	<bean id="pushService" class="com.xinguang.tubobo.push.impl.PushServiceImpl">
		<constructor-arg index="0" value="${ali.push.region.id}"/>
		<constructor-arg index="1" value="${ali.push.access.key.id}"/>
		<constructor-arg index="2" value="${ali.push.access.key.secret}"/>
		<constructor-arg index="3" value="${iosApnsEnv}"/>
	</bean>
	<bean id="gdDistanceService" class="com.xinguang.tubobo.lbs.impl.GdDistanceServiceImpl">
		<constructor-arg index="0" value="${gdKey}"/>
	</bean>

</beans>